
    <nav class="snaap-navbar">
        <a href="/" class="snaap-logo" data-link>
            Sn<span class="neon-aa">aa</span>p
        </a>
        <div class="snaap-burger" id="snaap-burger-btn">
            <i class="fas fa-bars"></i>
        </div>
        <ul class="snaap-menu" id="snaap-nav-list">
            <li><a href="/host/create-event" class="snaap-btn" data-link><i class="fas fa-info-circle"></i> Crear nuevo evento</a></li>
            <li><a href="/host/events" class="snaap-btn" data-link><i class="fas fa-boxes"></i> Historial de eventos</a></li>
            <li><a href="/host" class="snaap-btn" data-link><i class="fas fa-info-circle"></i> Perfil</a></li>
            <li><a href="/host" class="snaap-btn" data-link><i class="fas fa-house"></i> Cerrar sesión</a></li>
            <li class="snaap-footer-item">
                <a href="https://rsienterprise.com/" target="_blank" class="snaap-footer-link">
                    desarrollada por rsi enterprise mexico
                </a>
            </li>
        </ul>
    </nav>