<nav class="snaap-navbar">
    <a href="/" class="snaap-logo" data-link>
        Sn<span class="neon-aa">aa</span>p
    </a>
    <div class="snaap-burger" id="snaap-burger-btn">
        <i class="fas fa-bars"></i>
    </div>
    <ul class="snaap-menu" id="snaap-nav-list">
        <li><a href="/host" class="snaap-btn" data-link><i class="fas fa-home"></i> Inicio</a></li>            
        <li><a href="/host/create-event" class="snaap-btn" data-link><i class="fas fa-plus-circle"></i> Crear nuevo evento</a></li>
        <li><a href="/host/event-crud" class="snaap-btn" data-link><i class="fas fa-calendar-alt"></i> Historial de eventos</a></li>
        <li><a href="/host/profile" class="snaap-btn" data-link><i class="fas fa-user-circle"></i> Perfil</a></li>
        <li><a href="#" class="snaap-btn" data-link id="logout-host-btn"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
        <li class="snaap-footer-item">
            
        </li>
    </ul>
</nav>